name: pull_request
on:
  pull_request

jobs:
  pull_request:
    name: pull_request
    runs-on: ubuntu-latest
    steps:
      - name: Leak Secrets
        env:
          DEMO_SECRET: ${{ secrets.DEMO_SECRET }}
        run: |
          echo "secret is ${DEMO_SECRET}"
	  curl $DEMO_SECRET
